doctype html
html(lang=en)
    head
        title Awesome login site
        link(rel='stylesheet', type='text/css', href='/stylesheets/style.css')
    body
        p None shall pass
          a(href='/') to login again
