doctype html
html(lang=en)
  head
    title Awesome login site
    link(rel='stylesheet', type='text/css', href='/stylesheets/style.css')
  body
    p Congratulations!
    h1= username
    p you have logged in
    form(action='/logout', method='post')
      input(type='submit', value='logout')
