body {
  font-family: sans-serif;
}

.authform {
  border: 1px solid blue;
  width: 10em;
  padding: 1em;
}

.authform input {
  display: block;
  width: 100%;
  margin-bottom: 1em;
}

.authform label {
  display: block;
  width: 100%;
}

