body {
  font-family: sans-serif;
}

form {
  border: 1px solid blue;
  width: 10em;
  padding: 1em;
}

form input {
  display: block;
  width: 100%;
  margin-bottom: 1em;
}

form label {
  display: block;
  width: 100%;
}

